<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias type="com.sist.vo.FoodHouseVO" alias="FoodHouseVO"/>
    <typeAlias type="com.sist.vo.FoodCategoryVO" alias="FoodCategoryVO"/>
  </typeAliases>
  <mappers>
    <mapper resource="com/sist/mapper/food_house-mapper.xml"/>
    <mapper resource="com/sist/mapper/food_category-mapper.xml"/>
  </mappers>
</configuration>